!include include/default_mysqld.cnf
!include include/default_client.cnf

[mysqld.1]

[mysqld.2]

[ENV]
LOCAL_MYPORT    =   @mysqld.1.port
LOCAL_MYSOCK    =   @mysqld.1.socket
REMOTE_MYPORT   =   @mysqld.2.port
REMOTE_MYSOCK   =   @mysqld.2.socket
